html {
    border: none;
}

#logo:hover  {
    -webkit-animation: rainbow 0.5s infinite;
    animation: rainbow 5s infinite;
}

@keyframes rainbow{
    100%,0% {
        filter: invert(32%) sepia(95%) saturate(6738%) hue-rotate(354deg) brightness(89%) contrast(128%);
    }
    8% {
        filter: invert(52%) sepia(21%) saturate(3323%) hue-rotate(359deg) brightness(100%) contrast(106%);
    }
    16% {
        filter: invert(87%) sepia(62%) saturate(1928%) hue-rotate(356deg) brightness(109%) contrast(106%);
    }
    25% {
        filter: invert(82%) sepia(59%) saturate(2960%) hue-rotate(40deg) brightness(108%) contrast(110%);
    }
    33% {
        filter: invert(48%) sepia(28%) saturate(6196%) hue-rotate(92deg) brightness(131%) contrast(119%);
    }
    41% {
        filter: invert(64%) sepia(99%) saturate(519%) hue-rotate(91deg) brightness(103%) contrast(103%);
    }
    50% {
        filter: invert(97%) sepia(60%) saturate(3662%) hue-rotate(101deg) brightness(103%) contrast(101%);
    }
    58% {
        filter: invert(34%) sepia(38%) saturate(5996%) hue-rotate(199deg) brightness(105%) contrast(105%);
    }
    66% {
        filter: invert(9%) sepia(100%) saturate(5944%) hue-rotate(246deg) brightness(98%) contrast(147%);
    }
    75% {
        filter: invert(10%) sepia(92%) saturate(7463%) hue-rotate(273deg) brightness(96%) contrast(121%);
    }
    83% {
        filter: invert(19%) sepia(83%) saturate(5256%) hue-rotate(295deg) brightness(118%) contrast(123%);
    }
    91% {
        filter: invert(13%) sepia(77%) saturate(7377%) hue-rotate(326deg) brightness(109%) contrast(103%);
    }
}

cite {
    text-align: right;
    display: block;
    padding-right: 20%;
}